{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempore fugiat possimus ad perspiciatis a illo culpa, excepturi consequatur veniam itaque numquam voluptatem nostrum, enim autem voluptates nulla esse delectus ut cumque. Ex nam optio eius corporis iure a culpa, eaque obcaecati ipsa. Culpa eaque voluptas ipsam, dolorem facilis perspiciatis corporis illum reiciendis inventore distinctio aliquam blanditiis reprehenderit deserunt eos tempore modi odio, porro ratione vel assumenda. Laudantium sed assumenda dolorum consectetur, quae voluptas optio harum culpa id! Illo quibusdam, delectus at nisi enim explicabo culpa atque quidem soluta, temporibus aut reprehenderit totam cumque omnis velit vel nostrum? Pariatur, praesentium.</p>    
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
